@model SliderCreateModel
@{
    Layout = "_AdminLayout";
}

<div class="row mt-3">
    <div class="col-lg-8 mx-auto">
        <div class="card shadow-sm dashboard-card">

            <div class="card-header dashboard-card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">Slider Ekle</h5>
                <a asp-action="Index" class="btn-action go text-decoration-none">
                    <i class="fa-solid fa-list "></i>
                </a>
            </div>

            <div class="card-body">

                <form method="post" enctype="multipart/form-data">

                    <div asp-validation-summary="ModelOnly" class="text-danger small mb-3"></div>

                    <!-- Resim -->
                    <div class="mb-3">
                        <label asp-for="Resim" class="form-label fw-medium">Resim</label>
                        <input asp-for="Resim" type="file" class="form-control-soft w-100" />
                        <span asp-validation-for="Resim" class="text-danger small"></span>
                    </div>

                    <!-- Başlık -->
                    <div class="mb-3">
                        <label asp-for="Baslik" class="form-label fw-medium">Başlık</label>
                        <input asp-for="Baslik" class="form-control-soft w-100" />
                        <span asp-validation-for="Baslik" class="text-danger small"></span>
                    </div>

                    <!-- Açıklama -->
                    <div class="mb-3">
                        <label asp-for="Aciklama" class="form-label fw-medium">Açıklama</label>
                        <textarea asp-for="Aciklama" rows="3" class="form-control-soft w-100"></textarea>
                        <span asp-validation-for="Aciklama" class="text-danger small"></span>
                    </div>

                    <!-- Sıra -->
                    <div class="mb-3">
                        <label asp-for="Sira" class="form-label fw-medium">Sıra No</label>
                        <input asp-for="Sira" class="form-control-soft w-100" />
                        <span asp-validation-for="Sira" class="text-danger small"></span>
                    </div>

                    <!-- Aktif -->
                    <div class="mb-3">
                        <label asp-for="Aktif" class="form-label fw-medium d-block">Aktif mi?</label>
                        <input asp-for="Aktif" class="form-check-input" />
                    </div>

                    <button type="submit" class="btn-submit mt-2">
                        Kaydet
                    </button>

                </form>

            </div>

        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
