<footer class="footer-area mt-5 py-4">
    <div class="container">
        <div class="row gy-4">

            <!-- Menü Bilgileri -->
            <div class="col-md-4 text-center text-md-start">
                <h6 class="footer-title">Bilgi</h6>
                <ul class="footer-links list-unstyled">
                    <li><a href="#">Hakkımızda</a></li>
                    <li><a href="#">İletişim</a></li>
                    <li><a href="#">Gizlilik Politikası</a></li>
                    <li><a href="#">KVKK Aydınlatma Metni</a></li>
                    <li><a href="#">İade / Teslimat Koşulları</a></li>
                </ul>
            </div>

            <!-- Email -->
            <div class="col-md-4">
                <h6 class="footer-title text-center">Bülten</h6>
                <form>
                    <div class="footer-input-group mt-2">
                        <input type="email" class="footer-input" placeholder="Email giriniz">
                        <button type="submit" class="footer-btn">Gönder</button>
                    </div>
                </form>
            </div>

            <!-- Sosyal Medya -->
            <div class="col-md-4">
                <h6 class="footer-title text-center text-md-end ">Sosyal Medya</h6>
                <div class="footer-social text-center text-md-end mt-2">
                    <a href="#" class="text-decoration-none"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-decoration-none"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-decoration-none"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="text-decoration-none"><i class="fab fa-twitter"></i></a>
                </div>
            </div>

            <div class="col-12 mt-3">
                <p class="footer-copy text-center">
                    © 2025 Sedos Ticaret – Tüm Hakları Saklıdır.
                </p>
            </div>
        </div>
    </div>
</footer>
