@model UserCreateModel
@{
    Layout = "_AdminLayout";
}

<div class="row mt-3">
    <div class="col-md-8 mx-auto">
        <div class="card shadow-sm dashboard-card rounded-3">

            <!-- HEADER -->
            <div class="card-header dashboard-card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">Kullanıcı Ekle</h5>

                <a asp-action="Index" class="btn btn-action go text-decoration-none">
                    <i class="fa-solid fa-list"></i>
                </a>
            </div>

            <!-- BODY -->
            <div class="card-body">

                <form method="post" asp-action="Create">

                    <!-- Ad Soyad -->
                    <div class="row mb-3">
                        <label asp-for="AdSoyad" class="col-sm-3 col-form-label fw-medium"></label>
                        <div class="col-sm-9">
                            <input asp-for="AdSoyad" class="form-control" />
                            <span asp-validation-for="AdSoyad" class="text-danger small"></span>
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="row mb-3">
                        <label asp-for="Email" class="col-sm-3 col-form-label fw-medium"></label>
                        <div class="col-sm-9">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger small"></span>
                        </div>
                    </div>

                    <!-- KAYDET -->
                    <div class="text-end mt-4">
                        <button type="submit" class="btn-submit">
                            <i class="fa-solid fa-check me-1"></i> Kaydet
                        </button>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
