@model List<Kategori>

<nav class="navbar navbar-expand-md custom-navbar bg-white">
    <div class="container">

        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mx-auto">

                <li class="nav-item">
                    <a href="/" class="nav-link @(Context.Request.Path == "/" ? "active" : "")">
                        Anasayfa
                    </a>
                </li>

                @foreach (var item in Model)
                {
                    <li class="nav-item">
                        <a href="/urunler/@item.Url"
                            class="nav-link px-3 @(Context.Request.Path.StartsWithSegments($"/urunler/{item.Url}") ? "active" : "")">
                            @item.KategoriAdi
                        </a>
                    </li>
                }


            </ul>
        </div>

    </div>
</nav>