@model KategoriCreateModel
@{
    Layout = "_AdminLayout";
}

<div class="row mt-3">
    <div class="col">
        <div class="card shadow-sm dashboard-card rounded-3">

            <div class="card-header dashboard-card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">Kategori Ekle</h5>

                <a asp-action="Index" class="btn-action go text-decoration-none">
                    <i class="fa-solid fa-list"></i>
                </a>
            </div>

            <div class="card-body">

                <form method="post">

                    <div class="row mb-3">
                        <label asp-for="KategoriAdi" class="col-sm-2 col-form-label form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="KategoriAdi" class="form-control-soft w-100" />
                            <span asp-validation-for="KategoriAdi" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="Url" class="col-sm-2 col-form-label form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Url" class="form-control-soft w-100" />
                            <span asp-validation-for="Url" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                            <button type="submit" class="btn-submit">Kaydet</button>
                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
