@model RoleCreateModel
@{
    Layout = "_AdminLayout";
}

<div class="row mt-3">
    <div class="col">
        <div class="card shadow-sm dashboard-card rounded-3">

            <div class="card-header dashboard-card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">Rol Ekle</h5>

                <a asp-action="Index" class="btn-action go text-decoration-none">
                    <i class="fa-solid fa-list"></i>
                </a>
            </div>

            <div class="card-body">

                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <form method="post" asp-action="Create">

                    <div class="mb-3">
                        <label asp-for="RoleAdi" class="form-label fw-medium"></label>
                        <input asp-for="RoleAdi" class="form-control-soft w-100">
                        <span asp-validation-for="RoleAdi" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn-submit">
                        <i class="fa-solid fa-plus me-1"></i> Ekle
                    </button>

                </form>

            </div>

        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
