@model IEnumerable<AppRole>

@{
    Layout = "_AdminLayout";
}

<div class="row mt-3">
    <div class="col">
        <div class="card shadow-sm dashboard-card rounded-3">

            <div class="card-header dashboard-card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">Roller</h5>

                <a asp-action="Create" class="btn-action add text-decoration-none">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>

            <div class="card-body">

                <div class="table-responsive">

                    <table class="dashboard-table w-100">
                        <thead>
                            <tr>
                                <th style="width: 80px;">Id</th>
                                <th>Rol Adı</th>
                                <th style="width: 150px; text-align:center;">İşlemler</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var role in Model)
                            {
                                <tr>
                                    <td>@role.Id</td>
                                    <td>@role.Name</td>

                                    <td class="text-center">

                                        <a asp-action="Edit" asp-route-id="@role.Id"
                                           class="btn-action edit text-decoration-none">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>

                                        <a asp-action="Delete" asp-route-id="@role.Id"
                                           class="btn-action delete text-decoration-none">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>

                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>

            </div>

        </div>
    </div>
</div>
