@model e_ticaret_proje.Models.AdminDashboardViewModel

<div class="row g-4">

    <div class="col-xl-3 col-md-6">
        <div class="admin-card">
            <div>
                <div class="card-title">Satış</div>
                <div class="card-value">@Model.TotalSales.ToString("C")</div>
            </div>
            <i class="fa-solid fa-coins card-icon"></i>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="admin-card">
            <div>
                <div class="card-title">Sipariş</div>
                <div class="card-value">@Model.TotalOrders</div>
            </div>
            <i class="fa-solid fa-truck card-icon"></i>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="admin-card">
            <div>
                <div class="card-title">Ürün Adeti</div>
                <div class="card-value">@Model.TotalProducts</div>
            </div>
            <i class="fa-solid fa-box card-icon"></i>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="admin-card">
            <div>
                <div class="card-title">Kullanıcı Sayısı</div>
            <div class="card-value">@Model.TotalUsers</div>
            </div>
            <i class="fa-solid fa-user card-icon"></i>
        </div>
    </div>

</div>
